---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Projects from "../components/projects.astro";
---

<Layout title="Kilian Cabrera - Dev">
  <div class="flex flex-col gap-20">
    <Hero />
    <Projects />
  </div>
</Layout>
