---
import Me from "../assets/me.jpeg";
import PageTitle from "./pageTitle.astro";
---

<section
  class="grid grid-cols-1 grid-flow-row md:grid-cols-2 md:grid-rows-1 h-full md:h-auto gap-16 md:gap-0"
>
  <div>
    <PageTitle>
      <p>
        Hi! 👋 I'm
        <span
          style="-webkit-background-clip: text"
          class="bg-clip-text text-transparent bg-gradient-to-r from-blueGradient to-pinkGradient"
        >
          Kilian Cabrera
        </span>
      </p>
    </PageTitle>

    <div class="pt-4 flex flex-col gap-4">
      <p class="text-xl md:text-3xl">
        I'm a Front End Engineer from Barcelona.
      </p>
      <p class="text-xl md:text-3xl">
        I code, write and build stuff on internet.
      </p>
      <p class="text-lg md:text-xl">
        I'm a Front End Engineer interested in ui/ux and fix problems. I work at
        Qida.
      </p>
      <p class="text-lg md:text-xl">
        I'm focused on building products with JavaScript, specifically in React.
      </p>
      <p class="text-lg md:text-xl">
        When I'm not coding, I'm probably running or visiting somewhere new.
      </p>
      <p class="text-lg md:text-xl">
        You can find me on GitHub, Twitter and LinkedIn.
      </p>
    </div>
  </div>
  <div
    class="justify-self-center flex flex-col justify-center items-center relative w-64 h-64 lg:w-96 lg:h-96"
  >
    <img
      class="absolute z-10 border-4 border-transparent rounded-full w-full h-full object-cover"
      src={Me}
    />
    <div
      class="absolute w-64 h-64 lg:w-96 lg:h-96 justify-self-center self-center rounded-full bg-gradient-to-r from-blueGradient to-pinkGradient filter blur-2xl"
    >
    </div>
  </div>
</section>
