---
const { title } = Astro.props;
---

<section
  class="sm:text-left flex flex-col gap-4 before:block before:w-24 before:h-3 before:rounded-md before:dark:bg-violet-400"
>
  <h2 class="text-3xl font-semibold">{title}</h2>
  <slot />
</section>
